# Dependencies
/node_modules
/vendor

# Environment
/.env
/.env.*
.env
.env.backup
.env.local
.env.production

# Laravel caches and storage
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/testing/.gitignore
!/storage/framework/views/.gitignore
!/storage/app/public

# Public build artifacts
/public/hot
/public/storage
/public/build

# IDE & system files
/.idea
/.vscode
/.fleet
.phpunit.result.cache
.phpunit.cache
.phpstorm.meta.php
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log
pnpm-debug.log
composer.phar
/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
